@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-Medium.eot");
  src: url("SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"),
    url("/assets/font/SFProDisplay-Medium.woff") format("woff"),
    url("/assets/font/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/font/SFProDisplay-Bold.eot");
  src: url("ProDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/font/SFProDisplay-Bold.woff") format("woff"),
    url("/assets/font/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/font/SFProDisplay-Regular.eot");
  src: url("FProDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("/assets/font/SFProDisplay-Regular.woff") format("woff"),
    url("/assets/font/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display";
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.container {
  width: 90%;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #0f0f54;
  border-radius: 15px;
}
::-webkit-scrollbar-track{
  background-color: #0f0f545d;
}